body{
    background: rgb(36,10,0);
    background: linear-gradient(90deg, rgba(36,10,0,0.9738270308123249) 0%, rgba(242,130,13,1) 30%, rgba(255,177,0,1) 100%);
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.py-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.w-full{
    width: 100%;
}
.w-medium{
    width: 50%;
}
.rounded-t-lg {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.rounded-b-lg {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.font-medium {
    font-weight: 500;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.text-center {
    text-align: center;
}
.py-2\.5 {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
}

.bg-blue-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(26 86 219/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}
.flex {
    display: flex;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.border-t {
    border-top-width: 1px;
}
.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(124 140 163/var(--tw-bg-opacity));
}
.mb-4 {
    margin-bottom: 1rem;
}
.border-0 {
    border-width: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.border-white{
    --tw-border-opacity: 0;
    border-color: rgb(255 255 255/var(--tw-border-opacity));

}


.focus\:ring-0:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
}
 textarea:focus {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1c64f2;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-color: #1c64f2;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.border-0 {
    border-width: 0;
}
.w-full {
    width: 100%;
}

textarea {
    resize: vertical;
}
img{
    width:  8%;
    height: 8%;
}